/* Empezando con los Estilos */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.bg-blue {
	background-color: #0d6efd;
}

.color a {
	color: white !important;
}

.contenido {
	font-family: 'Edu NSW ACT Foundation', cursive;
	font-weight: 300;
	font-size: 18px;
}

h2 {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-weight: 500;
	padding: 10px;
	text-decoration: underline;
	text-align: center;
	color: white;
	background-color: rgba(0, 0, 0, 0.562);
	margin-bottom: 10px;
}

ul {
	list-style: none;
}

main {
	background-color:rgb(120 112 112);
}

/* HEADER */
header {
	width: 100%;
	/* hacemos que la cabecera ocupe el ancho completo de la página */
	position: sticky;
}

header h1 {
	color: rgb(255, 255, 255);
	text-align: center;
}

header nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100px;
	background-color: rgba(0, 0, 0, 0.781);
	padding: 10px;
}

.active:hover {
	background-color: rgba(0, 128, 64, 0.76) !important;
	color: white;
	font-size: larger;
	text-decoration: underline solid;
	text-transform: capitalize;
}

.lista {
	display: flex;
	list-style: none;
}

header nav ul li a {
	text-decoration: none;
	color: white;
	font-weight: 700;
	font-size: 18px;
	margin: 10px;
}

/* MAIN */

.contenido-main {
	color: white;
	background-color:rgb(120 112 112);	
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.encabezado {
	text-align: center;
	color: white;
	box-shadow: 10px 5px 5px black;
}

.encabezado iframe {
	width: 90%;
	height: 450px;
	border: 2px solid;
}

.encabezado p {
	margin: 10px;
	border: 2px solid rgba(255, 255, 255, 0.151);
}

.table {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	align-items: center;
	border: 2px solid rgba(255, 255, 255, 0.507);
	border-collapse: collapse;
	width: 90%;
}

.table tr,
td,
th {
	border: 1px solid rgb(255, 255, 255)
}

.tareas ol li {
	text-decoration: solid;
	margin-bottom: 10px;
}

.servicio-contenido {
	text-align: center;
	color: white;
	box-shadow: 10px 5px 5px black;
}

.ubicacion-contenido {
	text-align: center;
	color: white;
	box-shadow: 10px 5px 5px black;
}

.articulos {
	display: grid;
	width: 100%;
	height: 100%;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: auto;
	gap: 15px;
}

.articulos-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	box-shadow: 10px 10px 21px -9px rgba(0, 0, 0, 0.75);
}

/* FOOTER */

.contenido-footer {
	color: white;
	background-color: rgba(0, 0, 0, 0.829);
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	padding: 10px;
}

.encabezado-footer {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.redes {
	text-align: inherit;
}

.derechos {
	text-align: center;
}

.encabezado-footer div ul li {
	list-style: none;
}

/* MEDIAS QUERY */

@media screen and (max-width:950px) {
	.articulos {
		grid-template-columns: repeat(2,1fr);
	}
}

@media screen and (max-width:675px) {
	header nav {
		flex-direction: column;
		text-align: center;
		height: auto;
	}

}

@media screen and (max-width:450px) {
	.articulos {
		grid-template-columns: 1fr;
	}
}