.contenido {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 300;
  font-size: 18px; }

.active-in:hover {
  background-color: #00f8b6 !important;
  color: #fff !important; }

.nav-pills {
  --bs-nav-pills-link-active-bg: map-get($map:$colors, $key:"succes") !important; }

.nav {
  --bs-nav-link-padding-x: 0px !important;
  --bs-nav-link-padding-y: 0px !important;
  --bs-nav-link-color: $white !important;
  color: white; }

h2 {
  font-size: 3rem;
  font-family: 'Anton';
  font-weight: 300;
  text-decoration: solid;
  text-align: center;
  color: #00f8b6;
  margin: 20px 0 20px 0; }

header {
  width: 100%;
  position: sticky; }
  header h1 {
    color: #00f8b6;
    text-align: center; }
  header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 10px; }
    header nav ul li a {
      text-decoration: none;
      color: white;
      font-weight: 700;
      font-size: 18px;
      margin: 10px; }
  header .navbar-collapse {
    flex-direction: row-reverse; }

.contenido-main {
  color: white;
  background-color: black;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }

.encabezado {
  text-align: center;
  box-shadow: 10px 5px 5px black;
  margin-bottom: 1rem;
  padding: 1px; }
  .encabezado iframe {
    width: 90%;
    height: 450px;
    border: 2px solid; }

.tareas-centro ul li {
  text-decoration: solid;
  text-align: center;
  margin-left: -25px; }

.articulos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  gap: 15px;
  width: 90%; }
  .articulos img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 10px 10px 21px -9px rgba(0, 0, 0, 0.75); }

#carouselExampleControls {
  display: none; }

.wh {
  width: 500px !important;
  height: 425px !important; }

.about p {
  font-family: 'Barlow'; }

.text-darkgray {
  color: darkgray; }

.contenido-footer {
  color: white;
  width: 100%;
  height: 100%; }
  .contenido-footer ul li {
    list-style: none; }
  .contenido-footer ul li a {
    text-decoration: none; }

.row {
  margin-right: 0 !important;
  margin-left: 0 !important; }

@media screen and (min-width: 740px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto; } }

@media screen and (max-width: 992px) and (min-width: 740px) {
  .navbar-nav {
    flex-direction: initial; }
  .navbar-toggler {
    display: none; } }

@media screen and (max-width: 950px) {
  .articulos {
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (max-width: 740px) {
  header nav {
    flex-direction: column;
    text-align: center;
    height: auto; } }

@media screen and (max-width: 450px) {
  #encabezadoArticulos {
    display: none; }
  #carouselExampleControls {
    display: grid; } }
