// Clases
@import "maps";
@import "variables";

.contenido {
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-weight: 300;
	font-size: 18px;
}

.active-in:hover {
	background-color: map-get($map:$colors, $key:"succes")!important;
	color: map-get($map: $colors, $key: "white")!important;
}

.nav-pills{
	--bs-nav-pills-link-active-bg: map-get($map:$colors, $key:"succes") !important;
}

.nav {
	--bs-nav-link-padding-x: 0px !important;
	--bs-nav-link-padding-y: 0px !important;
	--bs-nav-link-color: $white !important;
	color: $white;
}

h2 {
	font-size: 3rem;
	font-family: 'Anton';
	font-weight: 300;
	text-decoration: solid;
	text-align: center;
	color: map-get($map:$colors, $key:"succes");
	margin: 20px 0 20px 0;
}


