// Clases
@import "variables";

.contenido {
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-weight: 300;
	font-size: 18px;
}

.active-in:hover {
	background-color: $succes !important;
	color: rgb(255, 255, 255) !important;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.nav-pills{
	--bs-nav-pills-link-active-bg: $succes !important;
}

.nav {
	--bs-nav-link-padding-x: 0px !important;
	--bs-nav-link-padding-y: 0px !important;
	--bs-nav-link-color: white;
}

h2 {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-weight: 500;
	padding: 10px;
	text-decoration: underline;
	text-align: center;
	color: white;
	background-color: rgba(0, 0, 0, 0.562);
	margin-bottom: 10px;
}
