// Clases
@import "maps";

.contenido {
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-weight: 300;
	font-size: 18px;
}

.active-in:hover {
	background-color: map-get($map:$colors, $key:"succes")!important;
	color: map-get($map: $colors, $key: "white")!important;
}

.nav-pills{
	--bs-nav-pills-link-active-bg: map-get($map:$colors, $key:"succes") !important;
}

.nav {
	--bs-nav-link-padding-x: 0px !important;
	--bs-nav-link-padding-y: 0px !important;
	--bs-nav-link-color: map-get($map:$colors, $key:"white");
}

h2 {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-weight: 300;
	padding: 10px;
	text-decoration: underline;
	text-align: center;
	color: map-get($map:$colors, $key:"black");
	// background-color: map-get($map:$colors, $key:"gray");
	margin-bottom: 10px;
}
