.contenido-main {
	color: white;
	background-color:#787070;	
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.encabezado {
	text-align: center;
	box-shadow: 10px 5px 5px black;
	margin-bottom: 1rem;

	iframe {
		width: 90%;
		height: 450px;
		border: 2px solid;
	}

	p {
		margin: 10px;
		border: 2px solid rgba(255, 255, 255, 0.151);
	}
}

.tareas-centro ul li {
	text-decoration: solid;
	text-align: center;
	margin-left: -25px;
}

.articulos {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: auto;
	gap: 15px;
	width: 90%;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		box-shadow: 10px 10px 21px -9px rgba(0, 0, 0, 0.75);
	}
}

#carouselExampleControls {
	display: none;
}

.wh {
	width: 500px !important;
	height: 425px !important;
}