@media screen and (min-width:740px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }
}

@media screen and (max-width: 992px) and (min-width: 740px) {
    .navbar-nav {
        flex-direction: initial;
    }

    .navbar-toggler {
        display: none;
    }
}

@media screen and (max-width:950px) {
    .articulos {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:740px) {
    header nav {
        flex-direction: column;
        text-align: center;
        height: auto;
    }

}

@media screen and (max-width:450px) {
    #encabezadoArticulos {
        display: none;
    }

    #carouselExampleControls {
        display: grid;
    }
}