@mixin grid ($columnas, $espacio)  {
   display: grid;
   grid-template-columns: repeat($columnas, 1fr);
   grid-auto-rows: auto;
   gap: $espacio;
   width: 90%; 
}

@mixin flex ($dis, $content, $aling, $color, $pad) {
   display: $dis;
   justify-content: $content;
   align-items: $aling;
   width: 100%;
   height: 100px;
   background-color: $color;
   padding: $pad;
}